.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

.idea/
*.iws

__pycache__/
*.py[cod]
*$py.class

*.so

bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

celerybeat-schedule

.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/

node_modules/
jspm_packages/

dist/
dist-ssr/
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.tsbuildinfo

.eslintcache
.stylelintcache
.prettiercache

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.*

# Untrack data
data/*
backend/data/*

# ALLOW environment templates to be committed
!.env.example
!.env.template
